{% extends 'base.html' %}
{% block title %}Main{% endblock title %}
{% block nav-btn %}
    <button class="btn btn-danger float-end me-2 mt-1" data-bs-toggle="modal" data-bs-target="#logoutmodal">Logout</button>
    <a href="{% url 'main_page' %}" class="btn btn-outline-info float-end mt-1 me-2">Blogs</a>
{% endblock %}
{% block page-data %}
    <div class="profile-container">
        
            <div class="col-lg-7 col-md-8 col-sm-10 col-11 profile-col">
                <div class="profile-info d-flex">
                    <div class="col-6">
                        <div class="single-info p-2">
                            <span>Name</span><br>
                            <p class="fs-5 font-weight-bold">{% block profile-name %}{{user.first_name}} {{user.last_name}}{% endblock %}</p>
                        </div>
                        
                        <div class="single-info p-2">
                            <span>Email-ID</span><br>
                            <p class="fs-5 font-weight-bold">{% block profile-email %}{{user.email}}{% endblock %}</p>
                        </div>

                        <div class="single-info p-2">
                            <span>Blogs Uploaded Till today</span><br>
                            <p class="fs-5 font-weight-bold">{% block blog-count %}{{blogs}}{% endblock %}</p>
                        </div>
                    </div>
                    
                    <div class="col-6 p-3 d-flex justify-content-center" id="profile-info-img">
                        {% block profile-pic %}<img src="../../media/{{appuser.profile_pic}}" alt="">{% endblock %}
                    </div>

                </div>
            </div>
        
    </div>
{% endblock page-data %}